style de la 

header{
width: 100%;
height: 20vh;
display: flex;
background-color: blue;
align-items: center;
justify-content: center;
}

.bandeau{
width: 50%;    
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

main{
width: 100%;
height: 60vh;
background-color: yellow;
display: flex;
align-items: center;
justify-content: center;
}

.contenu{
display: flex;
align-items: center;    
justify-content: center;
flex-direction: column;
}


footer{
width: 100%;
height: 20vh;
background-color: red;
display: flex;
align-items: center;
justify-content: center;
}

.pied-de-page{
width: 50%;    
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}